.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cardContainer:nth-child(2) {
  margin-top: -20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-position-up {
  margin-top: -20px !important;
}

@media only screen and (max-width: 200px) {
  /* margin-top: 0px; */
}

#cardStyling{
  width:15rem;
          border-radius:40px;
          height:18rem
}
#position{
  position: relative;
}

#roundBalls{
  background:#DAE9FF;
  width: 150px;
  position: absolute;
  left: 45%;
  top: 0;
  height: 150px;
}

#smallBackground{
  background: #FFF5DB;
          width: 15%;
          position: absolute;
          left: 0;
          top: 35%;
          height: 20%;
          border-top-left-radius: 100px;
}

#bigBackground{
  background: #f4f9ff;
          width: 70%;
          position: absolute;
          right: 0;
          top: 20%;
          height: 60%;
          border-top-left-radius: 100px;
}